<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">

</head>
<body>
 <div class="card-fundo">
  <img src="Whey-Protein-Chocolate-branco-morango.png" alt="" class="card-imagem">
    <h1 class="card-texto">Arroz</h1>
  </div>

 
 <h1><%= message %></h1>
    <h5>Mouse</h5>
    <p>R$100,00</p>
    <img src="">
  
    <h5>Whey Protein</h5>
    <p>R$100,00</p>
    <img src="">


    
</body>
</html>