<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
 
  <div class="card-bomba-produto">
    
      <img src="/imagem/<%= produto.imagem%>" class="imagem"><img>
      <h5 class="bomba-h5"><%= produto.titulo %></h5>
      <p class="bomba-"><%= produto.preco %></p>
      <p class="bomba-"><%= produto.descricao %></p>
      
  </div>

</html>