<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <h1><%= message %></h1>
  <div class="card-bomba-produto">
    <a href="/">
      <img src="https://tfcucl.vteximg.com.br/arquivos/ids/157894-590-590/1_darkchocolate.png?v=638267815291730000" class="imagem"><img>

    <h5 class="bomba-h5">Whey</h5>
    <p class="bomba-">R$100,00</p>
    <p class="bomba-">sabor</p>
    <p class="bomba-">100% Whey é um suplemento a base de proteína concentrada do soro do leite (Whey Protein Concentrate), matéria-prima elaborada com alta tecnologia, de elevado valor biológico, rápida digestibilidade e alta concentração de aminoácidos essenciais, que são fatores de relevância para auxiliar a síntese proteica muscular. O consumo de suplementos proteicos, associado à uma alimentação saudável e prática de atividade física auxilia na formação de músculos e ossos..</p>
  </a>
  </div>
</html>